In [1]:
import sqlite3
import pandas as pd
# Connecting to the database
conn = sqlite3.connect('nyc_law_enforcement.db')

In [2]:
%load_ext sql
%sql sqlite:///nyc_law_enforcement.db
df = pd.read_csv(r"full_data.csv")
df.to_sql("law_enforcement", conn)

130591

In [3]:
%sql SELECT * FROM law_enforcement limit 5

 * sqlite:///nyc_law_enforcement.db
Done.

[(0, 184630128, '2018-06-30', 244.0, 'BURGLARY,UNCLASSIFIED,UNKNOWN TIME', 107.0, 'BURGLARY', 'PL 1402000', 'F', 'Brooklyn', 66, 0, '25-44', 'M', 'WHITE', 986760, 171042, 40.636155209, -73.990957907),
 (1, 184612066, '2018-06-30', 969.0, 'TRAFFIC,UNCLASSIFIED INFRACTION', 881.0, 'OTHER TRAFFIC INFRACTION', 'VTL051101A', 'V', 'Queens', 103, 0, '45-64', 'M', 'ASIAN / PACIFIC ISLANDER', 1043105, 197168, 40.707669854, -73.787719041),
 (2, 184611183, '2018-06-30', 244.0, 'BURGLARY,UNCLASSIFIED,UNKNOWN TIME', 107.0, 'BURGLARY', 'PL 1402000', 'F', 'Manhattan', 6, 0, '25-44', 'M', 'WHITE HISPANIC', 983190, 208988, 40.740308565, -74.0038266),
 (3, 184614200, '2018-06-30', 198.0, 'CRIMINAL CONTEMPT 1', 126.0, 'MISCELLANEOUS PENAL LAW', 'PL 21551B5', 'F', 'Brooklyn', 90, 2, '25-44', 'M', 'BLACK', 993850, 195755, 40.703982028, -73.96537743),
 (4, 184616006, '2018-06-30', 849.0, 'NY STATE LAWS,UNCLASSIFIED VIOLATION', 677.0, 'OTHER STATE LAWS', 'LOC000000V', 'V', 'Brooklyn', 67, 0, '25-44', 'M', 'WHITE HISPANIC', 1003396, 178812, 40.657461842, -73.930996321)]

In [4]:
# Correct table name in queries to match the table name used in to_sql
# 1. Determine the total number of arrests
total_arrests_query = "SELECT COUNT(*) FROM law_enforcement;"
total_arrests = pd.read_sql_query(total_arrests_query, conn)
print(f"Total arrests: {total_arrests.iloc[0,0]}")

Total arrests: 130591

In [5]:
# 2. Analyze the most frequent type of crime leading to arrests
most_frequent_crime_query = """
SELECT pd_desc, COUNT(*) as count
FROM law_enforcement
GROUP BY pd_desc
ORDER BY count DESC
LIMIT 1;
"""
most_frequent_crime = pd.read_sql_query(most_frequent_crime_query, conn)
print("Most frequent type of crime:", most_frequent_crime)

Most frequent type of crime:      PD_DESC  count
0  ASSAULT 3  13618

In [6]:
# 3. Identify the borough with the highest number of arrests in a specific period
most_arrests_borough_query = """
SELECT arrest_boro, COUNT(*) as count
FROM law_enforcement
WHERE arrest_date BETWEEN '2021-01-01' AND '2021-12-31'
GROUP BY arrest_boro
ORDER BY count DESC
LIMIT 1;
"""
most_arrests_borough = pd.read_sql_query(most_arrests_borough_query, conn)
print("Borough with the highest number of arrests in 2021:", most_arrests_borough)

Borough with the highest number of arrests in 2021: Empty DataFrame
Columns: [ARREST_BORO, count]
Index: []

In [7]:
# 4. Count arrests of young individuals in a specific borough
youth_arrests_query = """
SELECT COUNT(*)
FROM law_enforcement
WHERE age_group = 'Y' AND arrest_boro = 'M';
"""
youth_arrests = pd.read_sql_query(youth_arrests_query, conn)
print("Number of young individuals arrested in borough M:", youth_arrests.iloc[0,0])

Number of young individuals arrested in borough M: 0